fastapi
uvicorn
sqlalchemy
asyncpg
alembic
passlib[bcrypt]
bcrypt==4.0.1
python-jose[cryptography]
pydantic-settings
email-validator
pytest
pytest-asyncio
httpx
prometheus-fastapi-instrumentator
prometheus-client